.storybook-input{
    padding: 6px 10px;
    border-radius: 4px;
    background-color: white;
    outline: none;
    box-shadow: none;
    border: 1px solid #888;
}

.input--small {
    font-size: 12px;

}


.input--medium {
    padding: 8px 12px;
    font-size: 15px;
    
}

.input--large {
    padding: 10px 14px;
    font-size: 18px;
    
}